header {
  position: sticky;
  top: 0;
  background: url("../../img/heroCooking.jpg") no-repeat center center / cover;
  height: 80vh;
  width: 100%;
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
}
