.search-input {
  border: 1px solid var(--primary-color);
  padding: 0.75rem;
  border-radius: 5px;
  width: 400px;
  outline: none;
}

button {
  background: transparent;
  padding: 0.5rem;
  outline: none;
  border: none;
}

i {
  color: var(--primary-color);
}
